# lnInclude (symlink) directories - anywhere
lnInclude

# Build directories - anywhere
linux*Clang*/
linux*Gcc*/
linux*Icc*/
solaris*Gcc*/
SunOS*Gcc*/
platforms/

processor*/

turbineOutput

polyMesh

0/

# Time step result directories (e.g. 100, 200.5, 1e-3)
[0-9]*/
[0-9]*.[0-9]*/